Source: docker.io
Section: admin
Priority: optional
Maintainer: Tim Potter <tpot@hpe.com>
Uploaders: Tianon Gravi <tianon@debian.org>,
           Paul Tagliamonte <paultag@debian.org>
Build-Conflicts: golang-github-docker-docker-dev
Build-Depends: bash-completion,
               ca-certificates,
               debhelper (>= 11~),
               dh-exec,
               dh-golang (>= 1.14~),
               git,
               go-md2man (>= 1.0.3~),
               golang-go (>= 2:1.6~) | golang-1.6-go,
               golang-dbus-dev (>= 3~),
               golang-github-miekg-dns-dev,
               golang-ed25519-dev,
               golang-etcd-server-dev,
               golang-github-armon-go-metrics-dev,
               golang-github-aws-aws-sdk-go-dev,
               golang-github-azure-go-ansiterm-dev,
               golang-github-boltdb-bolt-dev,
               golang-github-bsphere-le-go-dev,
               golang-github-burntsushi-toml-dev,
               golang-github-cloudflare-cfssl-dev,
               golang-github-coreos-go-systemd-dev (>= 16~),
               golang-github-deckarep-golang-set-dev,
               golang-github-dnephin-cobra-dev,
               golang-github-containerd-docker-containerd-dev,
               golang-github-docker-docker-credential-helpers-dev (>= 0.3.0+git20160906.22.f72c04f~),
               golang-github-docker-go-connections-dev (>= 0.3.0~),
               golang-github-docker-go-dev,
               golang-github-docker-go-units-dev (>= 0.3.1+git20161130.10.e30f1e7),
               golang-github-docker-libkv-dev,
               golang-github-docker-libtrust-dev,
               golang-github-fluent-fluent-logger-golang-dev,
               golang-github-flynn-archive-go-shlex-dev,
               golang-github-fsnotify-fsnotify-dev,
               golang-github-gorilla-context-dev,
               golang-github-gorilla-mux-dev,
               golang-github-graylog2-go-gelf-dev,
               golang-github-hashicorp-consul-dev,
               golang-github-hashicorp-go-msgpack-dev,
               golang-github-hashicorp-memberlist-dev,
               golang-github-hashicorp-serf-dev,
               golang-github-imdario-mergo-dev,
               golang-github-kr-pty-dev,
               golang-github-mattn-go-shellwords-dev,
               golang-github-mattn-go-sqlite3-dev,
               golang-github-miekg-pkcs11-dev,
               golang-github-opencontainers-docker-runc-dev,
               golang-github-opencontainers-specs-dev,
               golang-github-philhofer-fwd-dev,
               golang-github-pivotal-golang-clock-dev,
               golang-github-prometheus-client-golang-dev (>= 0.9.0~),
               golang-github-racksec-srslog-dev,
               golang-github-samuel-go-zookeeper-dev,
               golang-github-sirupsen-logrus-dev (>= 1.0.2~),
               golang-github-tchap-go-patricia-dev,
               golang-github-tinylib-msgp-dev,
               golang-github-tonistiigi-fifo-dev,
               golang-github-ugorji-go-codec-dev,
               golang-github-vaughan0-go-ini-dev,
               golang-github-vbatts-tar-split-dev,
               golang-github-vdemeester-shakers-dev,
               golang-github-vishvananda-netlink-dev,
               golang-github-vishvananda-netns-dev,
               golang-go-zfs-dev,
               golang-gocapability-dev,
               golang-golang-x-net-dev,
               golang-golang-x-oauth2-google-dev | golang-golang-x-oauth2-dev,
               golang-golang-x-time-dev,
               golang-google-api-dev,
               golang-google-cloud-dev,
               golang-google-grpc-dev,
               golang-gopkg-check.v1-dev,
               golang-goprotobuf-dev (>= 0.0~git20151207~),
               gogoprotobuf,
               libapparmor-dev,
               libbtrfs-dev | btrfs-progs (<< 4.16.1~),
               libdevmapper-dev,
               pkg-config,
               procps,
               tzdata
Standards-Version: 4.1.4
Homepage: https://dockerproject.org
Vcs-Browser: https://salsa.debian.org/docker-team/docker
Vcs-Git: https://salsa.debian.org/docker-team/docker.git
XS-Go-Import-Path: github.com/docker/docker

Package: docker.io
Architecture: linux-any
Depends: adduser,
         docker-containerd (>= 0.2.3+git20170126.85.aa8187d~ds1~),
         docker-runc (>= 1.0.0~rc2+git20170201.133.9df8b30~),
         golang-libnetwork (>= 0.8.0-dev.2+git20170202.599.45b4086~),
         iptables,
         lsb-base,
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends}
Recommends: ca-certificates,
            cgroupfs-mount,
            git,
            xz-utils,
            ${apparmor:Recommends}
Replaces: docker (<< 1.5~)
Breaks: docker (<< 1.5~)
Suggests: aufs-tools,
          btrfs-progs,
          debootstrap,
          docker-doc,
          rinse,
          zfs-fuse | zfsutils
Built-Using: ${libc:Built-Using}, ${misc:Built-Using}
Description: Linux container runtime
 Docker complements kernel namespacing with a high-level API which operates at
 the process level. It runs unix processes with strong guarantees of isolation
 and repeatability across servers.
 .
 Docker is a great building block for automating distributed systems:
 large-scale web deployments, database clusters, continuous deployment systems,
 private PaaS, service-oriented architectures, etc.
 .
 This package contains the daemon and client. Using docker.io on non-amd64 hosts
 is not supported at this time. Please be careful when using it on anything
 besides amd64.
 .
 Also, note that kernel version 3.8 or above is required for proper operation of
 the daemon process, and that any lower versions may have subtle and/or glaring
 issues.

Package: vim-syntax-docker
Architecture: all
Depends: vim, ${misc:Depends}
Recommends: vim-addon-manager
Suggests: docker.io
Description: Docker container engine - Vim highlighting syntax files
 This package provides syntax files for the Vim editor for editing Dockerfiles
 from the Docker container engine.

Package: golang-github-docker-docker-dev
Architecture: all
Depends: golang-github-docker-go-connections-dev,
         golang-github-docker-go-units-dev,
         golang-github-docker-libkv-dev,
         golang-github-fsnotify-fsnotify-dev,
         golang-github-gorilla-mux-dev,
         golang-github-mattn-go-shellwords-dev,
         golang-github-mattn-go-sqlite3-dev,
         golang-github-opencontainers-docker-runc-dev,
         golang-github-sirupsen-logrus-dev,
         golang-github-tchap-go-patricia-dev,
         golang-github-vdemeester-shakers-dev,
         golang-golang-x-net-dev,
         golang-gopkg-check.v1-dev,
         ${misc:Depends}
Built-Using: ${misc:Built-Using}
Replaces: golang-docker-dev (<< 1.8.2~ds1-1~)
Breaks: golang-docker-dev (<< 1.8.2~ds1-1~)
Provides: golang-docker-dev
Description: Externally reusable Go packages included with Docker
 These packages are intentionally developed by upstream in such a way that they
 are reusable to projects outside Docker and only rely on each other or other
 external dependencies to be built.

Package: golang-docker-dev
Section: oldlibs
Architecture: all
Depends: golang-github-docker-docker-dev, ${misc:Depends}
Description: Transitional package for golang-github-docker-docker-dev
 This is a transitional package to ease upgrades to the
 golang-github-docker-docker-dev package. It can safely be removed.

Package: docker-doc
Provides: docker.io-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Linux container runtime -- documentation
 Docker complements kernel namespacing with a high-level API which operates at
 the process level. It runs unix processes with strong guarantees of isolation
 and repeatability across servers.
 .
 Docker is a great building block for automating distributed systems:
 large-scale web deployments, database clusters, continuous deployment systems,
 private PaaS, service-oriented architectures, etc.
 .
 This package contains the daemon and client. Using docker.io on non-amd64 hosts
 is not supported at this time. Please be careful when using it on anything
 besides amd64.
 .
 Also, note that kernel version 3.8 or above is required for proper operation of
 the daemon process, and that any lower versions may have subtle and/or glaring
 issues.
 .
 This package provides documentation for Docker.
